<div class="card text-center">
  <div class="card-header">
    A propos
  </div>
  <div class="card-body">
    <h5 clasos="card-title">Developper</h5>
    <div class="card-text">
      <p>{{infos.name}}</p>
      <p>{{infos.email}}</p>
    </div>
  </div>
</div>
