<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/contacts">Contacts
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" routerLink="/">Nouveau Contact</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
      <a class="nav-item nav-link disabled" >Disabled</a>
    </div>
  </div>
</nav>
